<nav class="sidebar">
    <a class="nav-item nav-link" href="/producten"><h4>Alle producten</h4></a>

    <ul id="sidebar-categorylist" class="nav flex-column">
    {{# each categories }}
        <li class="nav-item">
            <a class="nav-link" href="/producten/{{.}}"><h5>{{.}}</h5></a>
        </li>
    {{/each}}
    </ul>
</nav>