<nav class="sidebar">
  <div class="sidebar__container">
    <a class="nav-item nav-link" href="/producten"><h5>Alle producten</h5></a>

    <ul id="sidebar-categorylist" class="nav flex-column">
    {{# each categories }}
        <li class="nav-item">
            <a class="nav-link" href="/producten/{{.}}">{{.}}</a>
        </li>
    {{/each}}
    </ul>
  </div>
</nav>