<h1>Beheerpagina</h1>
  <div class="alert alert-success" {{#if noDice}}hidden{{/if}} id="erbij-success" >
    {{gelukt}}
  </div>


{{!-- {{# if login}} --}}
    <a href="/user/profile">Gebruikersprofiel</a>
    <a href="/user/logout">Uitloggen</a>
{{!-- {{ else }} --}}
    <a href="/user/signin">Inloggen</a>
    <a href="/user/signup">Account aanmaken</a>
{{!-- {{/if}} --}}


<a href="/user/categorieerbij" ><h2>Nieuwe categorie toevoegen</h2></a>

<a href="/user/producterbij" ><h2>Nieuw product toevoegen</h2></a>



{{!-- 
            <div class="form-group">
                <label for="categorie">Welke categorie? IJzerwaren? Tuinartikelen? Gebruik GEEN hoofdletter!</label>
                <input type="text" id="categorie" class="form-control" name="categorie">              
            </div> --}}
