<div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>


<div class="foto">foto</div>
<div class="foto">foto</div>
<div class="foto">foto</div>

<h1 class="homepagekop margleft">Welkom Lorem ipsum dolor sit coendoen adipisicing</h1>
<p class="homepagetekst margleft">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus quidem ipsam facilis atque culpa quasi illum sint molestiae, modi eius repellendus explicabo? Recusandae corrupti accusantium incidunt necessitatibus fugit totam delectus, tempora nostrum, temporibus, eos vel quae! Est illo, tempore, omnis eos delectus laudantium libero enim optio, autem nulla repudiandae hic!</p>
<p class="homepagetekst margleft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ea veritatis totam aut id ex provident eligendi, tenetur quae aliquid enim ab doloribus ullam corporis harum nulla pariatur animi in magnam sit distinctio. Eius odit assumenda ducimus quisquam. Velit, voluptas.</p>


<div class="foto2">foto</div>
<div class="foto2">foto</div>

{{!-- we willen door de producten loopen om ze te renderen, maar we weten niet hoeveel het er zijn en we willen ze per 3 in een row krijgen, niet meer --}}

