{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>   --}}

<div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

{{!-- we willen door de producten loopen om ze te renderen, maar we weten niet hoeveel het er zijn en we willen ze per 3 in een row krijgen, niet meer --}}

